* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bColor: slategrey;
}

/* Body styling */

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* header styling */

header {
    background-color: var(--bColor);
    padding: 35px 20px;
}

header h1 {
    font-weight: bold;
    margin: 0;
    display: inline;
    
}

header a {
    text-decoration: none;
    color: black;
    border-bottom: 2px black solid;
}

header nav {
    float: right;
    margin: 10px 0;
}

header ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 15px;
}
/* hero styling */

.hero {
    display: flex;
    background-image: url(../images/clouds.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero h3 {
    position: absolute;
    bottom: 50px;
    right: 100px;
    background-color: var(--bColor);
    padding: 7px;
}

/* About me / general formatting for catagories */

.catagory {
    padding: 10px;
    display: flex;
    align-items: center;
}

.catagory h2 {
    float: left;
    padding: 10px;
}

.catagory div {
    font-size: 12px;
    border-left: 2px var(--bColor) solid;
    text-align: left;
    padding: 10px;
}

.catagory p {
    font-size: 20px;
}

/* Work class */


.catagory h2 {
    padding: 20px;
}
.workLinks {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 20px;
    grid-auto-flow: dense;
}

.grid {
    grid-row: span 1;
    grid-column: span 1;
}

.tiger {
    grid-column: span 2;
    grid-row: span 2;
}

.sun {
    grid-column: span 1;
    grid-row: span 2;
}

.workLinks div {
    position: relative;
    background-color: var(--bColor);
    /* border: 3px solid var(--bColor); */
}

.workLinks div img {
    position: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    opacity: .5;
}

.workLinks div h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: var(--bColor);
    padding: 10px;
}

.workLinks img:hover {
    opacity: 1;
}

/* contact styling */

.contact-list li {
    display: inline;
    padding: 20px;
}

.contact-list li a {
    text-decoration: none;
    color: black;
}